{{template "base/head" .}}
<div class="home">
	<div class="ui stackable middle very relaxed page grid">
		<div class="sixteen wide center aligned centered column">
			<div>
				<img class="logo" src="{{AppSubUrl}}/img/gitkod-logo.png" />
			</div>
			<div class="hero">
				<h1 class="ui icon header title">
					{{if eq .Lang "tr-TR"}}
						GitKod'a Hoşgeldiniz
					{{else}}
						Welcome to GitKod
					{{end}}
				</h1>
				<h2>
					{{if eq .Lang "tr-TR"}}
						Sürüm kontrolünü ve güvenliği Köpüş'e emanet edin
					{{else}}
						Leave revision control and security to Köpüş
					{{end}}
				</h2>
			</div>
		</div>
	</div>
	{{if eq .Lang "tr-TR"}}
		<div class="ui stackable middle very relaxed page grid">
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-flame"></i> Kolay Kullanım
				</h1>
				<p class="large">
					Eğer  <a target="_blank" href="https://tr.wikipedia.org/wiki/Git_(yaz%C4%B1l%C4%B1m)">Git</a>'e hakimseniz <a target="_blank" href="http://gitkod.com/">GitKod</a>'u kullanması çok kolay. Yok ben Git ile sıkıntı yaşıyorum diyorsanız bir de Köpüş'ten <a target="_blank" href="http://rogerdudler.github.io/git-guide/">öğrenmeyi deneyin</a>!
				</p>
			</div>
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-device-desktop"></i> Masaüstü İstemcileri
				</h1>
				<p class="large">
					Terminal'den nefret edenler için masaüstü istemcilerimiz mevcuttur. <a target="_blank" href="http://gitkod.com/">Hemen deneyin!</a>
				</p>
			</div>
		</div>
		<div class="ui stackable middle very relaxed page grid">
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-key"></i> Güvenlik ve Gizlilik
				</h1>
				<p class="large">
					Güvenliğinizi şansa, gizliliğinizi amatörlere bırakmayın! Onun yerine Köpüş'e bırakın ;)
				</p>
			</div>
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-ruby"></i> Parıldayın
				</h1>
				<p class="large">
					Ustaca hazırlanmış GitKod servisi ile yazdığınız kodlar pırıl pırıl parlasın. Sosyalleşin ve diğer geliştiriciler arasından öne çıkın!
				</p>
			</div>
		</div>
	{{else}}
		<div class="ui stackable middle very relaxed page grid">
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-flame"></i> Easy to Use
				</h1>
				<p class="large">
					If you are familiar with <a target="_blank" href="https://en.wikipedia.org/wiki/Git_(software)">Git</a>, it's easy to use <a target="_blank" href="http://gitkod.com/">GitKod</a>. But if you are saying that I'm in trouble with Git let's learn <a target="_blank" href="http://rogerdudler.github.io/git-guide/">how to use Git</a> from Köpüş!
				</p>
			</div>
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-device-desktop"></i> Desktop Clients
				</h1>
				<p class="large">
					We have desktop clients for Terminal haters. <a target="_blank" href="http://gitkod.com/">Try it now!</a>
				</p>
			</div>
		</div>
		<div class="ui stackable middle very relaxed page grid">
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-key"></i> Security & Privacy
				</h1>
				<p class="large">
					Don't leave your security to chance and privacy to amateurs. Instead of that leave it to Köpüş ;)
				</p>
			</div>
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-ruby"></i> Shine Bright
				</h1>
				<p class="large">
					With artfully prepared GitKod service, your codes will sparkle. Socialize and outshine other developers!
				</p>
			</div>
		</div>
	{{end}}
</div>
{{template "base/footer" .}}
